@charset "UTF-8";

/* 共通のCSS */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.contents-inner{
  width: 1100px;
  margin: auto;
}



/* header */



.contents-head{
  width: 100%;
  background-color: #FFF;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  z-index: 100;
}


.bolt-image{
  font-size: 50px;
  color: gray;
  float: left;
}

.contect-btn{
  font-size: 12px;
  color: #FFF;
  width: 50px;
  height: 12px;
  line-height: 12px;
  padding: 14px 12px;
  text-decoration: none;
  background-color: #74cfae;
  float: right;
  transition: .3s;
}

.contect-btn:hover{
  color: #333;
  transition: .3s;
}



/* title */



.contents-title{
  text-align: center;
  background-color: #f2f2f2;
  padding:250px 0 250px 0;
}

h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom:20px;
}

.free-text{
  font-size: 30px;
  color: #c0c0c0;
}



/* section */



.contents-section{
  background-color: #74cfae;
  padding-top: 50px;
}

.section-pic{
  float:left;
}

.iphone-photo{
  vertical-align: middle;
}

.section-text{
  width: 650px;
  text-align: center;
  float: right;
}

.section-top-text{
  font-size: 24px;
  color: #FFF;
  text-align: center;
  margin-bottom: 35px;
  font-family: "Raleway";
}

.section-bottom-text{
  font-size: 20px;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  font-family: "Raleway";
}



/* article */



.article-inner{
  background-color: #f2f2f2;
  padding:60px 0 70px 0;
}

.article-title{
  font-size: 24px;
  text-align: center;  
  margin-bottom: 40px;
}

.article-box{
  font-size: 0;
  text-align: center;
}

.image-box{
  margin:100px 0 0 100px;
  display:inline-block;
}

.image-box:nth-child(-n+3){
  margin-top: 0;
}

.image-box:nth-child(3n+1){
  margin-left: 0;
}

.article-bottom-box{
  text-align: center;
  margin-top: 90px;
  
}

.article-bottom-text{
  width: 530px;
  display: inline-block;
  text-align: center;
}

.article-email-btn{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #FFF;
  width: 70px;
  height: 12px;
  line-height: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  text-decoration: none;
  margin-left: 90px;
  vertical-align: top;
  transition: .3s;
}

.article-email-btn:hover{
  color: #333;
  transition: .3s;
}

.photo{
  display: inline-block;
  opacity: 0.7;
  transition: .3s;
}

.photo:hover{
  opacity: 1.0;
  transition: .3S;
}


/* section-bottom */



.contents-bottom-section{
  background-color: #4e4e4e;
}

.section-bottom-inner{
  text-align: center;
  padding: 70px 0 100px 0;
}

.section-title{
  color:#FFF;
  margin-bottom: 70px;
}

.pic{
  display: inline-block;
  margin-left: 180px;
}

.pic:first-child{
  margin-left: 0;
}

.skills-text{
  font-size: 16px;
  color: #FFF;
  margin-top:20px;
}



/* nav */



.contents-nav{
  background-color: #f2f2f2;
}

.nav-inner{
  text-align: center;
  padding: 200px 0 200px 0;
  
}

.icon{
  font-size: 50px;
  text-decoration: none;
  background-color: #f2f2f2;
  width: 185px;
  padding: 25px 0 25px 0;
  color: #74cfae;
  transition: .3s;
}

.icon:hover{
  background-color: #FFF;
  transition: .3s;
}



/* footer */



.contents-footer{
  padding:20px 0 25px 0;
  background-color: #74cfae;
}

.footer-text{
  color: #FFF;
  text-align: right;
}

.heart::before{
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  font-weight: 900;
}
